.row {
    margin: 0 15px;
}

.bg-dark .card-title.text-light,
.bg-dark .card-text.text-light {
    color: white;
}

.img-grayscale {
    filter: grayscale(100%);
}

div > h2 {
    font-family: 'Funhouse';
    font-weight: normal;
    font-style: normal;
}

div > p {
    font-family: 'Chelsea Market';
    font-size: medium;
    font-weight: normal;
    font-style: normal;
}
