<!-- my card -->
<div class="resume-container">
  <!-- header with mugshot and name -->
  <div class="row">
    <div class="col">
      <div class="header">
        <div class="photo">
          <img src="../../../assets/headshot.png" alt="">
        </div>
        <div class="text">
          <h1 class="personal-name">Andres <span>Rivero</span></h1>
        </div>
      </div>
    </div>
  </div>
  <hr style="line-height: 5px;">
  <!-- content -->
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-7">
      <div class="resume-entry">
        <h3 class="title">
          Summary
        </h3>
        <p class="text">
            Software Engineer with 2+ years in Test Automation, SQA Regression Testing scripting, and full-stack web development. Valued for interpersonal skills to partner with developers and designers to produce high-quality, user-friendly tools.
        </p>
      </div>
      <div class="resume-entry">
        <h3 class="title">
          Experience
        </h3>
        <ul class="resume-experience">
          <li>
            <div class="time">
              <span>May 16</span>
              <hr>
              <span>Present</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-5">
      <!-- contact -->
      <div class="contact-box clearfix">
        <h3>Contact</h3>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="tel:+16307969199"><span class="fa fa-phone fa-fw"></span></a></div>
          <div class="title only pull-right">+1 (630) 796-9199</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="mailto:andres.rivero@gmail.com"><span class="fa fa-envelope fa-fw"></span></a></div>
          <div class="title only pull-right">andres.r90@gmail.com</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="https://twitter.com/drusc0"><span class="fa fa-twitter fa-fw"></span></a></div>
          <div class="title pull-right">Twitter</div>
          <div class="description pull-right">@drusc0</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="https://github.com/drusc0"><span class="fa fa-github fa-fw"></span></a></div>
          <div class="title pull-right">GitHub</div>
          <div class="description pull-right">@drusc0</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="https://www.linkedin.com/in/andresrivero90/"><span class="fa fa-linkedin fa-fw"></span></a></div>
          <div class="title pull-right">LinkedIn</div>
          <div class="description pull-right">@andresrivero90</div>
        </div>
      </div>
      <hr>
      <!-- contact -->
      <!-- skills -->
      <div class="skills-box clearfix">
        <h3>Skills</h3>
        <div class="skills-item clearfix">
          <div class="title pull-left text-center">
            <h4>Languages:</h4>
          </div>
          <div class="skills-list pull-right">Python, Perl, Typescript, Java, Javascript, HTML, CSS3.
          </div>
        </div>
        <div class="skills-item clearfix">
          <div class="title pull-left text-center">
            <h4>Web:</h4>
          </div>
          <div class="skills-list pull-right">Angular 6+, Django, Bootstrap, Material.
          </div>
        </div>
        <div class="skills-item clearfix">
          <div class="title pull-left text-center">
            <h4>Database:</h4>
          </div>
          <div class="skills-list pull-right">Elastic Search, Splunk, MySQL.
          </div>
        </div>
      </div>
      <hr>
      <!-- skills -->
    </div>
  </div>
</div>