.resume-container {
    margin: 30px;
    margin-top: 75px;
    background: #d3d3d3;
}

.header {
    margin-top: -75px;
    text-align: center;
}

.header .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    display: inline-block;
}

.header .text {
    margin: 20px;
}

.personal-name {
    color: #3d3d3d;
    font-size: 3em;
    font-weight: 500;
}

.personal-name span {
    color: #0e0b0bd8;
    font-size: 1.2em;
}