<!-- my card -->
<div class="resume-container">
  <!-- header with mugshot and name -->
  <div class="row">
    <div class="col">
      <div class="header">
        <div class="photo">
          <img src="../../../assets/headshot.png" alt="">
        </div>
        <div class="text">
          <h1 class="personal-name">Andres <span>Rivero</span></h1>
        </div>
      </div>
    </div>
  </div>
  <hr style="line-height: 5px;">
  <!-- content -->
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-7" style="border-right: 3px solid #fff;">
      <div class="summary-box clearfix">
        <h3>Summary</h3>
        <p class="summary-text">
            Software Engineer with 3+ years in Test Automation, SQA Regression Testing scripting, and full-stack web development. Valued for interpersonal skills to partner with developers and designers to produce high-quality, user-friendly tools.
        </p>
      </div>
      <hr>
      <!-- experience -->
      <div class="experience-box clearfix">
        <h3>Experience</h3>
        <div class="experience-item row">
          <div class="col-3">
            <div class="where text-center">Amazon</div>
            <div class="year text-center">02/19 - Present</div>
          </div>
          <div class="col-9">
            <div class="profession">Software Engineer</div>
            <div class="description">
              <ul class="list-center">
                <li>Assist in back-end/front-end design for away-work team projects.</li>
                <li>Implement and execute the designs as to deliver high-quality, maintanable, extensible, and testable code.</li>
                <li>Create monitors, alars, and dashboards as to provide operational excellence from all projects that I was part of.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience-item row">
          <div class="col-3">
            <div class="where text-center">Intel</div>
            <div class="year text-center">05/16 - 02/19</div>
          </div>
          <div class="col-9">
            <div class="profession">Software Engineer</div>
            <div class="description">
              <ul class="list-center">
                <li>Architected, implemented, deployed, and maintained group-widely-used Angular, Django apps to track IP readiness/health based on SQA results.</li>
                <li>Designed REST APIs for effective and quick integration between NoSQL and dashboards.</li>
                <li>Built scripts to automate transfer to AWS S3, bug tracking analysis and foundational tests execution.</li>
                <li>Led collaboration effort and implementation to integrate coverage and IP-specific stages into regression testing framework while offering support.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience-item row">
          <div class="col-3">
            <div class="where text-center">Fermilab</div>
            <div class="year text-center">05/15 - 08/15</div>
          </div>
          <div class="col-9">
            <div class="profession">Software Engineer Intern</div>
            <div class="description">
              <ul class="list-center">
                <li>Built a live Django web-app to monitor temperature and humidity sensors in data centers.</li>
                <li>Standardized and implemented new MySQL data storage for effective sensor-data requests.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience-item row">
          <div class="col-3">
            <div class="where text-center">Fermilab</div>
            <div class="year text-center">05/14 - 08/14</div>
          </div>
          <div class="col-9">
            <div class="profession">Software Engineer Intern</div>
            <div class="description">
              <ul class="list-center">
                <li>Built a Tk/python admin management tool for data extraction and configuration manipulation.</li>
                <li>Created and Maintained HTML web-app with Google Charts to render graphs and dashboards.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience-item row">
          <div class="col-3">
            <div class="where text-center">National Science Foundation</div>
            <div class="year text-center">06/13 - 08/13</div>
          </div>
          <div class="col-9">
            <div class="profession">Data Analyst Intern</div>
            <div class="description">
              <ul class="list-center">
                <li>Wrote SQL queries to verify warehouse data migration.</li>
                <li>Created dashboards using SQL and J2EE that allowed private investigators to distribute grants on merit.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience-item row">
          <div class="col-3">
            <div class="where text-center">MWorks, Brazil</div>
            <div class="year text-center">01/12 - 05/12</div>
          </div>
          <div class="col-9">
            <div class="profession">Developer Intern</div>
            <div class="description">
              <ul class="list-center">
                <li>Extended front-end libraries for better usability of product and user interaction.</li>
                <li>Created scripts to test features under development.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- experience -->
    </div>
    <div class="col-xs-12 col-sm-5 col-5">
      <!-- contact -->
      <div class="contact-box clearfix">
        <h3>Contact</h3>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="tel:+16307969199"><span class="fa fa-phone fa-fw"></span></a></div>
          <div class="title only pull-right">+1 (630) 796-9199</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="mailto:andres.rivero@gmail.com"><span class="fa fa-envelope fa-fw"></span></a></div>
          <div class="title only pull-right">andres.r90@gmail.com</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="https://twitter.com/drusc0"><span class="fa fa-twitter fa-fw"></span></a></div>
          <div class="title pull-right">Twitter</div>
          <div class="description pull-right">@drusc0</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="https://github.com/drusc0"><span class="fa fa-github fa-fw"></span></a></div>
          <div class="title pull-right">GitHub</div>
          <div class="description pull-right">@drusc0</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><a href="https://www.linkedin.com/in/andresrivero90/"><span class="fa fa-linkedin fa-fw"></span></a></div>
          <div class="title pull-right">LinkedIn</div>
          <div class="description pull-right">@andresrivero90</div>
        </div>
      </div>
      <hr>
      <!-- contact -->
      <!-- skills -->
      <div class="skills-box clearfix">
        <h3>Skills</h3>
        <div class="skills-item clearfix">
          <div class="title pull-left text-center">
            <h4>Languages:</h4>
          </div>
          <div class="skills-list pull-right">
            <span class="badge badge-dark">Python</span>
            <span class="badge badge-dark">Perl</span>
            <span class="badge badge-dark">Typescript</span>
            <span class="badge badge-dark">Java</span>
            <span class="badge badge-dark">Javascript</span> 
            <span class="badge badge-dark">HTML</span> 
            <span class="badge badge-dark">CSS3</span>
          </div>
        </div>
        <div class="skills-item clearfix">
          <div class="title pull-left text-center">
            <h4>Web:</h4>
          </div>
          <div class="skills-list pull-right" style="margin-top: 10px;">
              <span class="badge badge-dark">Angular</span>
              <span class="badge badge-dark">Spring</span>
              <span class="badge badge-dark">Django</span>
              <span class="badge badge-dark">Bootstrap</span>
              <span class="badge badge-dark">Material</span>
          </div>
        </div>
        <div class="skills-item clearfix">
          <div class="title pull-left text-center">
            <h4>Database:</h4>
          </div>
          <div class="skills-list pull-right" style="margin-top: 10px;">
            <span class="badge badge-dark">Elastic Search</span>
            <span class="badge badge-dark">Splunk</span>
            <span class="badge badge-dark">MySQL</span>
          </div>
        </div>
        <div class="skills-item clearfix">
          <div class="title pull-left text-center">
            <h4>Leadership:</h4>
          </div>
          <div class="skills-list pull-right" style="margin-top: 10px;">
            <span class="badge badge-dark">Bias to Action</span>
          </div>
        </div>
      </div>
      <hr>
      <!-- skills -->
      <!-- Language -->
      <div class="skills-box clearfix">
        <h3>Languages</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>English</th>
              <td><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></td>
            </tr>
            <tr>
              <th>Spanish</th>
              <td><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></td>
            </tr>
            <tr>
              <th>Portuguese</th>
              <td><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Language -->
      <hr>
      <!-- education -->
      <div class="experience-box clearfix">
        <h3>Education</h3>
        <div class="experience-item row">
          <div class="col-5">
            <div class="where text-center">M.S. Computer Science</div>
            <div class="year text-center">08/14 - 12/15</div>
          </div>
          <div class="col-7">
            <div class="profession">Indiana University, Bloomington, IN</div>
            <div class="description">
              GEM Fellow
            </div>
          </div>
        </div>
        <div class="experience-item row">
          <div class="col-5">
            <div class="where text-center">B.S. Computer Science</div>
            <div class="year text-center">08/11 - 05/14</div>
          </div>
          <div class="col-7">
            <div class="profession">George Mason University, Fairfax, VA</div>
            <div class="description">
            </div>
          </div>
        </div>
        <div class="experience-item row">
          <div class="col-5">
            <div class="where text-center">A.S. Computer Science</div>
            <div class="year text-center">01/09 - 12/10</div>
          </div>
          <div class="col-7">
            <div class="profession">Suffolk Community College, Selden, NY</div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
      <!-- education -->
    </div>
  </div>
</div>