.resume-container {
    margin: 30px;
    margin-top: 75px;
    background: #3d75db;
}

.header {
    margin-top: -75px;
    text-align: center;
}

.header .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    display: inline-block;
}

.header .text {
    margin: 20px;
}

.personal-name {
    color: #fff;
    font-size: 3em;
    font-weight: 500;
}

.personal-name span {
    color: #0e0b0bd8;
    font-size: 1.2em;
}

hr {
    border-top: 3px solid #fff;
}

.resume-entry {
    margin: 0 15px;
    padding: 1.3rem;
    width: 100%;
    height: 100%;
}

.resume-entry .title::before {
    content: "#";
    margin-right: 5px;
}

.resume-entry .title {
    color: #fff;
    font-size: 1.2em;    
}

.resume-entry .text {
    color: #dddddd;
    font-size: 0.9em;
}

.resume-entry .resume-experience::before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 25px;
    top: 0;
    content: "";
    display: block;
    background: #3d3d3d;
}
.resume-entry .resume-experience {
    margin-top: 20px;
    position: relative;
    padding: 1em 0;
    list-style: none;
}

.resume-entry .resume-experience .time {
    width: 10%;
    background: #d3d3d3;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}
/* summary */
.summary-box {
    margin-bottom: 20px;
    padding: 1.3rem;
}

.summary-box h3::before {
    content: '#';
    color: #fff;
    margin-right: 5px;
}
.summary-box h3 {
    color: #fff;
    font-size: 1.2em;
}

.summary-box .summary-text {
    font-size: .9em;
    font-weight: 500;
    color: #ddd;
    opacity: 0.9;
}

/* experience */
.experience-box {
    margin-bottom: 20px;
    padding: 1.3rem;
}

/* contact box info */
.contact-box {
    margin-bottom: 20px;
    padding: 1.3rem;
}

.contact-box h3::before {
    content: '#';
    color: #fff;
    margin-right: 5px;
}
.contact-box h3 {
    color: #fff;
    font-size: 1.2em;
}

.contact-box .contact-item {
    width: 100%;
    float: left;
    display: block;
}

a {
    color: inherit;
}
.contact-item .icon {
    padding: 10px;
    color: #ddd;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    opacity: 0.8;
}
.contact-item:last-child .icon {
    border-bottom: none;
}

.contact-item .fa {
    font-size: 2em;
}
.contact-item .fa:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.contact-item .title {
    width: 80%;
    font-size: .9em;
    font-weight: 700;
    color: #ddd;
    opacity: 0.9;
}
.contact-item .title.only {
    margin-top: 10px;
}
.contact-item .description {
    width: 80%;
    font-size: .8em;
    color: #ddd;
    opacity: .7;
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

/* contact box info */
.skills-box {
    margin-bottom: 20px;
    padding: 1.3rem;
}

.skills-box h3::before {
    content: '#';
    color: #fff;
    margin-right: 5px;
}
.skills-box h3 {
    color: #fff;
    font-size: 1.2em;
}

.skills-box .skills-item {
    width: 100%;
    float: left;
    display: block;
}

.skills-item .title {
    padding: 10px;
    color: #ddd;
    font-size: .9em;
    width: 30%;
    margin-right: 5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    opacity: 0.8;
}
.skills-item:last-child .title {
    border-bottom: none;
}

.skills-item h4 {
    color: #eee;
    font-size: 1em;
}
.skills-item .skills-list {
    width: 65%;
    font-size: .7em;
    color: #ddd;
    opacity: .7;
}

.skills-list .badge {
    margin: 2px 2px;
}

.table th {
    color: #ddd;
    font-size: .9em;
}

.checked {
    color: orange;
}

/* clearfix */
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}