<!-- my card -->
<div class="resume-container">
  <!-- header with mugshot and name -->
  <div class="row">
    <div class="col">
      <div class="header">
        <div class="photo">
          <img src="../../../assets/headshot.png" alt="">
        </div>
        <div class="text">
          <h1 class="personal-name">Andres <span>Rivero</span></h1>
        </div>
      </div>
    </div>
  </div>
  <hr style="line-height: 5px;">
  <!-- content -->
  <div class="row">
    <div class="col-6">
      <div class="resume-entry">
        <h3 class="title">
          Summary
        </h3>
        <p class="text">
            Software Engineer with 2+ years in Test Automation, SQA Regression Testing scripting, and full-stack web development. Valued for interpersonal skills to partner with developers and designers to produce high-quality, user-friendly tools.
        </p>
      </div>
      <div class="resume-entry">
        <h3 class="title">
          Experience
        </h3>
      </div>
    </div>
  </div>
</div>