.resume-container {
    margin: 30px;
    margin-top: 75px;
    background: #d3d3d3;
}

.header {
    margin-top: -75px;
    text-align: center;
}

.header .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    display: inline-block;
}

.header .text {
    margin: 20px;
}

.personal-name {
    color: #3d3d3d;
    font-size: 3em;
    font-weight: 500;
}

.personal-name span {
    color: #0e0b0bd8;
    font-size: 1.2em;
}

hr {
    border-top: 3px solid #fff;
}

.resume-entry {
    margin: 0 15px;
    width: 100%;
    height: 100%;
}

.resume-entry .title::before {
    content: "#";
    margin-right: 5px;
}

.resume-entry .title {
    color: #fff;
    font-size: 1.2em;    
}

.resume-entry .text {
    color: #3d3d3d;
    font-size: 0.9em;
}

.resume-entry .resume-experience::before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 25px;
    top: 0;
    content: "";
    display: block;
    background: #3d3d3d;
}
.resume-entry .resume-experience {

}