<div class="jumbotron">
	<h1 class="display-4">Projects</h1>
</div>
<!-- cards with projects -->
<div class="row">
	<div class="col-3"></div>
	<div class="col-3">
		<div class="card">
			<div class="card-header">
				<img class="card-img-top" src="../../../assets/android-chrome-192x192.png" alt="My Site">
			</div>
			<div class="card-body">
				<h5 class="card-title">My site</h5>
				<p class="card-text">This site (my own personal portfolio) was built using Angular 6 and bootstrap. Some of the components display a different style (CSS3).</p>
			</div>
			<div class="card-footer d-flex justify-content-center">
				<a class="icon-box" href="https://github.com/drusc0/web-app" target="_blank"><i class="fa fa-github"></i></a>
				<a class="icon-box" href="https://www.andresrivero.me" target="_blank"><i class="fa fa-globe"></i></a>	
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card">
			<div class="card-header">
				<img class="card-img-top" src="../../../assets/news_icon.png" alt="The Noos">
			</div>
			<div class="card-body">
				<h5 class="card-title">The Noos</h5>
				<p class="card-text">Project using Angular 6 and Twitter Bootstrap 4. It uses the news.org API to pull the news data.</p>
			</div>
			<div class="card-footer d-flex justify-content-center">
				<a class="icon-box" href="https://github.com/drusc0/thenoos" target="_blank"><i class="fa fa-github"></i></a>
				<a class="icon-box" href="https://the-noos.firebaseapp.com" target="_blank"><i class="fa fa-globe"></i></a>
			</div>
		</div>
	</div>
	<div class="col-3"></div>
</div>