.bg-dark {
    color: #fff;
}
.card {
    width: 500px;
    height: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .card-title {
    margin-top: 20px;
    text-align: center;
}

.card .card-subtitle {
    margin-top: 0;
    text-align: center;
}

hr {
    background: beige;
}

.card .info-group {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card a:hover {
    color: #9c9c9c;
}

.card .social-group {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center
}

.icon-box {
    color: #fff;
    font-size: 24px;
    height: 45px;
    width: 45px;
    padding: 5px;
    border: 2px solid #fff;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.icon-box:hover {
    box-shadow: inset 0 50px 0 0 #ddd;
    color: #9c9c9c;
}