<div class="row">
  <div class="col">
    <div class="card bg-dark">
      <h3 class="card-title">Andres Rivero</h3>
      <p class="card-subtitle">Software Engineer</p>
      <hr>
      <div class="info-group">
        <div class="info-item">
          <div>
            <span><strong>T: </strong></span>
            <span>(630) 796-9199</span>
          </div>
          <div>
            <span><strong>E: </strong></span>
            <span>andres.r90@gmail.com</span>
          </div>
          <div>
            <a href="www.andresrivero.me">www.andresrivero.me</a>
          </div>
        </div>
        <div class="info-item">
          <img width="80" height="80" src="../../../assets/android-chrome-192x192.png" alt="Logo">
        </div>
      </div>
      <div class="social-group">
          <a class="icon-box" href="https://www.facebook.com/drusc0" target="_blank"><i class="fa fa-facebook"></i></a>
          <a class="icon-box" href="https://www.linkedin.com/in/andresrivero90" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a class="icon-box" href="https://github.com/drusc0" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</div>